<nav class="navigation">
	<span id="logo">
		<img src="{{ asset("assets/img/logo-nav.png") }}" alt="">
	</span>
	<ul class="menu menu-toggle">
		<li>
			<a href="#">Accueil</a>
		</li>
		<li>
			<a href="#">Chambre</a>
		</li>
		<li>
			<a href="#">Restaurant</a>
		</li>
		<li>
			<a href="#">location salle</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>

	</ul>
	<ul class="social-media">
		<li>
			<a href="#">
				<i class="uil uil-instagram-alt"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="uil uil-twitter"></i>
			</a>
		</li>
	</ul>
	<span class="menu-burger">
		<a class="menu-open" href="#">
			<i class="uil uil-bars"></i>
		</a>
	</span>
</nav>
